# dbt

target/

dbt_packages/

logs/


# Environment

.env

venv/

.venv/

env/

ENV/


# Python

__pycache__/

*.py[cod]

*$py.class


# IDE

.vscode/

.idea/


# OS

.DS_Store

Thumbs.db


# Jupyter

.ipynb_checkpoints


# Testing & Cache

.pytest_cache/

.mypy_cache/

.ruff_cache/

.coverage

htmlcov/